.flex-container {
  flex-direction: row;
  width: 700px;
  height: 600px;
  border: 5px solid black;
  margin: 30px auto;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.flex-container > div {
  background-color: royalblue;
  /* width: 120px;
    height: 120px; */
  margin: 2px;
  text-align: center;
  line-height: 120px;
  flex-grow: 4;
}

.flex-container div.box-2 {
  flex-grow: 10;
  align-self: flex-end;
}
.flex-container div.box-4 {
  flex-grow: 1;
}
